addict==2.4.0
av==15.0.0
cchardet==2.1.7
construct==2.10.68
ffmpeg==1.4
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
imageio==2.22.2
imageio-ffmpeg==0.6.0
inputs==0.5
lcm==1.5.0
lmdb==1.6.2
lxml==5.3.0
msgpack==1.1.1
msgpack-numpy==0.4.8
numba==0.59.1
numpy-quaternion==2023.0.3
onnx==1.18.0
onnxruntime==1.19.2
params_proto==2.13.2
Pint==0.20.1
plotly==5.3.1
qdldl==0.1.7.post1
qrcode==7.4.2
rsl-rl-lib==2.2.1
scipy
selenium==4.14.0
webbot==0.34
